body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background: #f4f4f4;
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;

  text-align: center;
}

header div {
  background: #2c5d7c;
  padding: .444rem;
}

#course-title {
  color: white;
  font-size: larger;
}

/* Navigation */
nav {
  display: flex;
  background: #333;
}

nav a {
  flex: 1;
  text-align: center;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background: #555;
}

/* Main Title */
h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

main {
  padding: 0 1rem;
}

/* Layout */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.card-header {
  background: #2c5d7c;
  color: white;
  padding: 0.75rem;
  text-align: center;
  font-weight: bold;
}

.card-content {
  padding: 1rem;
}

/* About layout */
.about-top {
  display: flex;
  gap: 1rem;
  font-size: smaller;
}

.about-top img {
  width: 80px;
  height: auto;
  border-radius: 10px;
}

.location {
  margin-top: 1rem;
}

.location h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.location-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.location-content p {
  font-size: small;
}

.flag {
  width: 80px;
  border: 1px solid #ccc;
}

.flag-caption {
  font-size: 0.6rem;
  font-style: italic;
  text-align: center;
}

ul {
  padding-left: 1.2rem;
}

ul li {
  margin: 0.5rem 0;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

footer hr {
  width: 333px;
}

/* Footer */
footer {
  background: #2c5d7c;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 0.666rem;
  font-size: small;
}

footer p {
  margin: 0;
}

#lastModified {
  color: yellow;
  margin-top: 0.3rem;
}
